<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Dios71">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.css">
    <script src="/semantic-ui/semantic.js"></script>
    <title>eRegistrar - Home</title>
</head>
<body>
<div class="ui container">
    <div class="ui large secondary pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="/eRegistrar/home">Home</a>
        <a class="item" href="/eRegistrar/student/list">Students</a>
        <a class="item" href="/eRegistrar/student/search">Search</a>
    </div>

    <div class="ui container">
        <div class="ui text container">
            <h1 class="ui blue header">
                eRegistrar for University
            </h1>
        </div>
    </div>
</div>
</body>
</html>
